<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
    <!-- <ion-title>VIOLENTÓMETRO</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">VIOLENTÓMETRO</ion-card-title>
    </ion-card-header>
  </ion-card> -->


  <!-- Alerta (Amarillo - 4) -->
  <div class="fila">
    <div class="titulo">Alerta</div>
  </div>
  <div class="fila">
    <div class="texto">Controlar</div>
    <div class="cuadrados">
      <div class="cuadro amarillo" *ngFor="let i of [].constructor(3)"></div>
    </div>
  </div>
  <div class="fila">
    <div class="texto">Celar</div>
    <div class="cuadrados">
      <div class="cuadro amarillo" *ngFor="let i of [].constructor(3)"></div>
    </div>
  </div>
  <div class="fila">
    <div class="texto">Mentir</div>
    <div class="cuadrados">
      <div class="cuadro amarillo" *ngFor="let i of [].constructor(3)"></div>
    </div>
  </div>
  <div class="fila">
    <div class="texto">Ignorar</div>
    <div class="cuadrados">
      <div class="cuadro amarillo" *ngFor="let i of [].constructor(3)"></div>
    </div>
  </div>
    <div class="fila">
    <div class="texto">Intimidar</div>
    <div class="cuadrados">
      <div class="cuadro amarillo" *ngFor="let i of [].constructor(3)"></div>
    </div>
  </div>
  
  <!-- Reacciona (Naranja - 6) -->
  <div class="fila">
    <div class="titulo">Reacciona</div>
  </div>
  <div class="fila">
    <div class="texto">Prohibir</div>
    <div class="cuadrados">
      <div class="cuadro naranja" *ngFor="let i of [].constructor(6)"></div>
    </div>
  </div>
  <div class="fila">
    <div class="texto">Destruir cosas</div>
    <div class="cuadrados">
      <div class="cuadro naranja" *ngFor="let i of [].constructor(6)"></div>
    </div>
  </div>
  <div class="fila">
    <div class="texto">Insultar</div>
    <div class="cuadrados">
      <div class="cuadro naranja" *ngFor="let i of [].constructor(6)"></div>
    </div>
  </div>
    <div class="fila">
    <div class="texto">Manosear</div>
    <div class="cuadrados">
      <div class="cuadro naranja" *ngFor="let i of [].constructor(6)"></div>
    </div>
  </div>

  <!-- Peligro (Rojo - 8) -->
  <div class="fila">
    <div class="titulo">Peligro</div>
  </div>
  <div class="fila">
    <div class="texto">Golpear</div>
    <div class="cuadrados">
      <div class="cuadro rojo" *ngFor="let i of [].constructor(9)"></div>
    </div>
  </div>
  <div class="fila">
    <div class="texto">
      <div>Amenazar con</div>
      <div>objetos</div>
    </div>
    <div class="cuadrados">
      <div class="cuadro rojo" *ngFor="let i of [].constructor(9)"></div>
    </div>
  </div>
  <div class="fila">
    <div class="texto">Violar</div>
    <div class="cuadrados">
      <div class="cuadro rojo" *ngFor="let i of [].constructor(9)"></div>
    </div>
  </div>
  <div class="fila">
    <div class="texto">Asesinar</div>
    <div class="cuadrados">
      <div class="cuadro rojo" *ngFor="let i of [].constructor(9)"></div>
    </div>
  </div>
  
</ion-content>

